body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background: #f9f9f9;
}

#scrolly-container {
  display: flex;
  position: relative;
}

#text-panel {
  width: 40%;
  padding: 2rem;
  background: white;
  z-index: 2;
}

#text-panel.floating .step {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  padding: 2em;
  margin-bottom: 80vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

#main-vis {
  width: 100%;
  height: 100%;
}


.step {
  margin-bottom: 80vh;
  padding: 2rem;
  transition: all 0.5s ease;
}

.step.active {
  background: #e0f7fa;
}

.page-header {
  font-size: 2em;
  margin-bottom: 1rem;
  color: #222;
}

.chart-caption {
  font-size: 1em;
  color: #555;
  margin-bottom: 2rem;
}

.next-arrow {
  font-size: 2rem;
  color: #bbb;
  text-align: center;
  margin-top: 2rem;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(10px); }
}

#vis-panel {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
  
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background: #e6eef4;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background: #4caf50;
  width: 0%;
  z-index: 100;
  transition: width 0.25s ease-out;
}

/* scrollytelling floating text box stuff now */
#scrolly-container.background-mode #vis-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#scrolly-container.background-mode #main-vis {
  background: rgb(243, 243, 243);
  width: 100vw;
  height: 100vh;
}

#scrolly-container.background-mode #text-panel {
  width: 100vw;
  max-width: 500px;
  margin-left: 30px;
  padding-top: 10vh;
  background-color: transparent;
}

#scrolly-container.background-mode .step {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}



/* ----- Visualization 2 specific styles ----- */

.header {
  text-align: center;
  margin-bottom: 10px;
}

.main-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.sub-title {
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
  color: #555;
}

#chart {
  display: flex;
  justify-content: center;
}

.car-icon {
  width: 24px;
  height: auto;
}


/* ----- Visualization 3 specific styles ----- */


.grid line {
  stroke: #ccc;
  stroke-opacity: 1;
  stroke-width: 2;
  stroke-dasharray: 4 3;
}

.grid path {
  display: none;
}

.tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 12px;
  font-size: 13px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  pointer-events: none;
  border-radius: 5px;
  line-height: 1.5;
  opacity: 0;
  z-index: 9999;
}
.tooltip strong {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}